<% if @license.errors.any? %>
    <% @license.errors.full_messages.each do |message| %>
        <div class="module module-alert">
            <div class="module-head module-head-alert path"><%= message %></div>
        </div>
    <% end %>
<% end %>
