<div class="module">
    <div class="module-head">
        <h2><%= Rails.configuration.settings.attributes[:create_license] %></h2>
    </div>
    <%= render "form", license: @license %>
</div>
