<section class="RAvatar <%= size %> <%= color %> active">
    <% if title.nil? %>
        <i class="RIcon RAvatar__icon rir-avatar_16"></i>
    <% else %>
        <span class="RAvatar__title"><%= current_user.name[0] %></span>
    <% end %>
</section>