<section class="RBadge <%= size %> <%= color %> <%= inversion ? "inversion" %>">
    <div class="RShorter">
        <div class="RTooltip">
            <div class="RTooltip__activator">
                <div class="RShorter__content RBadge__title" style="-webkit-line-clamp: 1; max-height: 16px;"><%= title %></div>
            </div>
        </div>
    </div>
</section>
