<button tabindex="0" class="RButtonAction <%= color %> <%= size %>">
    <% if !icon.nil? %>
        <i class="RIcon RButtonAction__icon rir-<%= icon %>_16"></i>
    <% end %>
    <div class="RButtonAction__title"><%= title %></div>
</button>
