<% if controller.errors.any? %>
    <% @error_status = "error" %>
<% else %>
    <% @error_status = nil %>
<% end %>

<label class="RCheckbox" tabindex="0">
    <%= form.check_box form_attr, tabindex: "-1" %>
    <span class="RCheckbox__input">
        <i class="RIcon RCheckbox__selected rir-bullit-ok_12" style="color: var(--rir-white);"></i>
    </span>
    <div class="RCheckbox__content">
        <%= form.label form_attr, class: "RCheckbox__title" %>

        <% if controller.errors.any? %>
            <% controller.errors.each do |error| %>
                <% if error.attribute.to_s == attr %>
                    <div class="RCheckbox__sub-title error">><%= error.full_message %></div>
                <% end %>
            <% end %>
        <% end %>

    </div>
</label>


