<div class="RRow">
    <label tabindex="0" class="RDatePicker__input">
        <label class="RInput default eluno readonly">
            <div class="RInput__body is-label">
                <label class="RInput__input">
                    <input type="text" disabled="disabled" autocomplete="new-password">
                        <label class="RInput__label">Label text</label>
                    </label>
                </div>
                <a class="RInput__clear events" style="visibility: visible;">
                    <i class="RIcon rir-close_8"></i>
                </a>
                <a class="RInput__after events">
                    <i class="RIcon rir-calendar_16"></i>
                </a>
            </label>
        </label>

            <div class="RDatePicker">
                <div class="RDatePicker__navigation">
                    <button tabindex="0" class="RButtonAction rocky sulguni">
                        <i class="RIcon RButtonAction__icon rir-rewind_16"></i>
                    </button>
                    <button tabindex="0" class="RButtonAction rocky sulguni">
                        <i class="RIcon RButtonAction__icon rir-arrow-left_16"></i>
                    </button>
                    <button tabindex="0" class="RButtonAction rocky sulguni">
                        <i class="RIcon RButtonAction__icon rir-arrow-right_16"></i>
                    </button>
                    <button tabindex="0" class="RButtonAction rocky sulguni">
                        <i class="RIcon RButtonAction__icon rir-forward_16"></i>
                    </button>
                    <span class="RDatePicker__title month"></span>
                    <span class="RDatePicker__title year"></span>
                </div>
                <div class="RDatePicker__week"></div>
                <div class="RDatePicker__calendar"></div>
            </div>


    </div>
