<section class="RListGroup">
    <div class="RListGroup__header">Group 1</div>
    <section tabindex="0" class="RListItem">
        <i class="RIcon RListItem__icon rir-avatar_16" style="color: var(--rir-harakiri);"></i>
        <section class="RListItem__content">
            <span class="RListItem__title" style="-webkit-line-clamp: 1;">Title1</span>
            <span class="RListItem__sub-title">subtitle</span>
        </section>
    </section>
    <section tabindex="0" class="RListItem">
        <i class="RIcon RListItem__icon rir-avatar_16" style="color: var(--rir-harakiri);"></i>
        <section class="RListItem__content">
            <span class="RListItem__title" style="-webkit-line-clamp: 1;">Title3</span>
            <span class="RListItem__sub-title">subtitle</span>
        </section>
    </section>
    <div class="RListGroup__header">Group 2</div>
    <section tabindex="0" class="RListItem">
        <i class="RIcon RListItem__icon rir-avatar_16" style="color: var(--rir-harakiri);"></i>
        <section class="RListItem__content">
            <span class="RListItem__title" style="-webkit-line-clamp: 1;">Title2</span>
            <span class="RListItem__sub-title">subtitle</span>
        </section>
    </section>
    <section tabindex="0" class="RListItem">
        <i class="RIcon RListItem__icon rir-avatar_16" style="color: var(--rir-harakiri);"></i>
        <section class="RListItem__content">
            <span class="RListItem__title" style="-webkit-line-clamp: 1;">Title4</span>
            <span class="RListItem__sub-title">subtitle</span>
        </section>
    </section>
</section>
