<div class="RMenu__item">
    <a href="https://design.rusatom.dev/layout-dashboard-page" tabindex="0" class="RMenu__body">
        <i class="RIcon rir-<%= icon %>_16 RMenu__icon"></i>
        <div class="RBulb RMenu__title-bulb">
            <span class="RMenu__title"><%= title %></span>
            <div class="RBulb__badge <%= color %> marina celano title block"><%= count %></div>
        </div>
    </a>
</div>

