<div class="RPopover__content mt-2">
    <div class="RSelect__content">
        <div class="RSelect__search">
            <label class="RInput default eluno">
                <div class="RInput__body is-label">
                    <label tabindex="0" class="RInput__input">
                        <input type="text" autocomplete="new-password">
                        <label class="RInput__label">Поиск</label>
                    </label>
                </div>
                <a class="RInput__clear events" style="visibility: hidden;">
                    <i class="RIcon rir-close_8"></i>
                </a>
                <a class="RInput__before">
                    <i class="RIcon rir-search_16"></i>
                </a>
            </label>
        </div>
        <div class="RSelect__not-list" style="display: none;">Ничего не найдено</div>
        <% if !data.exists? %>
            <div class="RSelect__not-list">Пусто</div>
        <% else %>
            <section class="RListGroup RSelect__list" id="select-list" style="display: flex;">
                <% data.each do |data| %>
                    <section tabindex="0" class="RListItem" data-value="<%= data.id %>">
                        <section class="RListItem__content">
                            <span class="RListItem__title" style="-webkit-line-clamp: 1;"><%= data.name %></span>
                        </section>
                    </section>

                <% end %>
            </section>
        <% end %>
    </div>
</div>
