<section class="RTabs default">
    <div class="RTabs__content">
        <% (0..link.length - 1).each do |i| %>
            <%= link_to link[i], class: ["RTabs__tab", ("active" if request.path == link[i])] do %>
                <div class="RBulb">
                    <span class="RTabs__title <%= " active" if request.path == link[i] %>"><%= title[i] %></span>
                    <div class="RBulb__badge rocky strophia salamis"></div>
                </div>
            <% end %>
        <% end %>
    </div>
</section>
