<section class="RTabs default">
    <div class="RTabs__content">
        <a tabindex="0" class="RTabs__tab active">
            <div class="RBulb">
                <span class="RTabs__title active">Component</span>
                <div class="RBulb__badge rocky strophia salamis"></div>
            </div>
        </a>
        <a tabindex="0" class="RTabs__tab">
            <div class="RBulb">
                <span class="RTabs__title">API</span>
                <div class="RBulb__badge rocky strophia salamis"></div>
            </div>
        </a>
        <a tabindex="0" class="RTabs__tab disabled">
            <div class="RBulb">
                <span class="RTabs__title">Examples</span>
                <div class="RBulb__badge rocky strophia salamis"></div>
            </div>
        </a>
    </div>
</section>
