<th>
    <div class="RTable__th interactive" style="justify-content: flex-start;">
        <div class="RTable__name" style="-webkit-line-clamp: 1; max-height: 16px;"><%= title %></div>
        <a class="RTable__sort">
            <i class="RIcon rir-arrow-up_6"></i>
            <i class="RIcon rir-arrow-down_6"></i>
        </a>
    </div>
</th>
