<% if @user.errors.any? %>
    <% @user.errors.full_notifications.each do |notification| %>
        <div class="module module-alert">
            <div class="module-head module-head-alert module-small"><%= notification %></div>
        </div>
    <% end %>
<% end %>
