<%- title Rails.configuration.settings.attributes[:account] %>

<div class="module">
    <div class="module-head">
        <h2 class="left"><%= current_user.name %></h2>
        <%= link_to fa_icon("cog"), account_settings_path, title: "Настройка аккаунта", class: "right edit-fa" %>
    </div>
    <div class="module-body">
        <div class="control-group">
            <%= label_tag nil, t(User.human_attribute_name :name), class: 'control-label' %>
            <div class="controls">
                <div class="control-label text">
                    <%= current_user.name %>

                </div>
            </div>
        </div>
    </div>
</div>
