<%- page_title @page_title %>

<div class="RRow mb-8">
    <div class="RCol" style="flex-grow: 0;">
        <span class="troy--text parmigiano">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit consectetur laboriosam suscipit saepe enim nobis optio. Architecto, voluptas ab.
        </span>
    </div>
</div>

<div class="RRow">
    <div class="RCol">

        <%= turbo_frame_tag "users", src: users_get_users_path, loading: :lazy, target: "_top" do %>
            <%= render "components/table_loading" %>
        <% end %>

    </div>
</div>
