<%- page_title Rails.configuration.settings.attributes[:settings] %>

<div class="module">
    <div class="module-head module-small">
        <%= link_to current_user.name, account_path %>
        <%= content_tag("a", Rails.configuration.settings.attributes[:settings]) %>
    </div>
</div>