<section class="RNotification__list">
    <span>
        <% if flash[:success].present? %>
            <div class="RNotification">
                <div class="RNotification__content">
                    <span class="RNotification__title"><%= flash[:success] %></span>
                </div>
                <div class="RNotification__icon">
                    <i class="RIcon rir-selected_16" style="color: var(--rir-matrix);"></i>
                </div>
            </div>
        <% elsif flash[:error].present?%>
            <div class="RNotification">
                <div class="RNotification__content">
                    <span class="RNotification__title"><%= flash[:error] %></span>
                </div>
                <div class="RNotification__icon">
                    <i class="RIcon rir-close_16" style="color: var(--rir-fargo);"></i>
                </div>
            </div>
        <% elsif flash[:info].present?%>
            <div class="RNotification">
                <div class="RNotification__content">
                    <span class="RNotification__title"><%= flash[:info] %></span>
                </div>
                <div class="RNotification__icon">
                    <i class="RIcon rir-info_16" style="color: var(--rir-rocky);"></i>
                </div>
            </div>
        <% end %>
    </span>
</section>
