<% if flash[:success].present? %>
    <div id="notification" class="notification notification-success">
        <span><%= flash[:success] %></span>
    </div>
    <% elsif flash[:error].present?%>
    <div id="notification" class="notification notification-error">
        <span><%= flash[:error] %></span>
    </div>
    <% elsif flash[:info].present?%>
    <div id="notification" class="notification notification-info">
        <span><%= flash[:info] %></span>
    </div>
<% end %>
