textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, select:focus {
	border-color: var(--shadow-heavy) !important;
    -webkit-box-shadow: 0 0 6px var(--shadow-heavy) !important;
    box-shadow: 0 0 6px var(--shadow-heavy) !important;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: var(--shadow-heavy) !important;
    -webkit-box-shadow: 0 0 6px var(--shadow-heavy) !important;
    box-shadow: 0 0 6px var(--shadow-heavy) !important;
}

.navbar .nav>li>.dropdown-menu li>a:hover {
	background-color: var(--background) !important;
}

input::-webkit-input-placeholder{
	color: var(--placeholder) !important;
}

input::-moz-placeholder{
	color: var(--placeholder) !important;
}

input:-ms-input-placeholder{
	color: var(--placeholder) !important;
}

input::-ms-input-placeholder{
	color: var(--placeholder) !important;
}

input::placeholder{
	color: var(--placeholder) !important;
}


.text{
	color: var(--color) !important;
}

.module-small a::after{
    background: var(--border) !important;
	color: var(--color) !important;
}

body [class^="fa-"], body [class*=" fa-"] {
	color: var(--color) !important;
}

/*body [class^="fa-"]:hover, body [class*=" fa-"]:hover {
	color: var(--color-light) !important;
}*/

.navbar {
	border-bottom: 1px solid var(--border) !important;
	-webkit-box-shadow: 0 1px 2px var(--shadow) !important;
	box-shadow: 0 1px 2px var(--shadow) !important;
}

.navbar .navbar-inner, .module-body, .widget-menu>li ul li {
	background: var(--module-body) !important;
}

.button, .button-primary, input::file-selector-button{
	color: var(--color) !important;
	-webkit-box-shadow: 0 1px 2px var(--shadow) !important;
    -moz-box-shadow: 0 1px 2px var(--shadow) !important;
    box-shadow: 0 1px 2px var(--shadow) !important;
}

.button.active:focus, .button:active:focus, .button:focus {
    outline: 0 !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}

.button, .button-primary{
	background-color: var(--background-dark) !important;
}

input::file-selector-button:hover, .button:hover, .button-box:hover, .button-primary:hover{
	background-color: var(--border) !important;
	color: var(--color) !important;
	-webkit-box-shadow: 0 0 2px var(--shadow) !important;
	box-shadow: 0 0 2px var(--shadow) !important;
}

.button-box {
	-webkit-box-shadow: 0 1px 1px var(--shadow-light) !important;
	box-shadow: 0 1px 1px var(--shadow-light) !important;
}

.button-box:hover i {
	color: var(--shadow-heavy) !important;
	
}

.button-group.shaded-icon>.button>i {
	color: var(--shadow) !important;
}

.button-group.shaded-icon>.button:hover>i {
	color: var(--shadow-heavy) !important;
}

.button.active, .button:active {
	-webkit-box-shadow: inset 0 3px 5px var(--shadow-light) !important;
	box-shadow: inset 0 3px 5px var(--shadow-light) !important;
}

.modal {
	-webkit-box-shadow: 0 0 5px var(--shadow) !important;
	box-shadow: 0 0 5px var(--shadow) !important;
}

.modal .modal-header .close {
	color: var(--shadow-heavy) !important;
}

.accordion-group {
	-webkit-box-shadow: 0 0 1px var(--shadow) !important;
	box-shadow: 0 0 1px var(--shadow) !important;
}


.divider{
	background-color: var(--divider) !important;
}

.nav>li>a, .brand, .dropdown-menu>li>a, h1, h2, h3, h4, h5, h6 {
	color: var(--color) !important;
}

.navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {
    border-left: 1px solid var(--border) !important;
    border-right: 1px solid var(--border) !important;
}

.navbar .nav>li>.dropdown-menu {
	border: 1px solid var(--border) !important;
	-webkit-box-shadow: 0 1px 1px var(--shadow) !important;
	box-shadow: 0 1px 1px var(--shadow) !important;
}

.navbar .nav>li.active , .navbar .nav>li.active , .navbar .nav>li.active, .navbar .nav>li:hover  {
	background: var(--background-dark) !important;
}

.widget-menu>li+li {
    border-top: 1px solid var(--border) !important;
}

.widget-menu>li>a {
	background-color: var(--background-dark) !important;
	color: var(--color) !important;
}

.widget-menu a {
	color: var(--color) !important;
}

.widget-menu>li>a:hover{
	color: var(--widget-hover) !important;
	background-color: var(--border) !important;
}

.wrapper{
    background-color: var(--background) !important;
	border-bottom: 1px solid var(--border) !important;
	-webkit-box-shadow: 0 1px 2px var(--shadow) !important;
	box-shadow: 0 1px 2px var(--shadow) !important;
}

.widget-menu>li ul li {
	border-top: 1px solid var(--border) !important;
}

.widget-menu>li ul li a:hover {
	background: var(--background) !important;
	border-top: 1px solid var(--border) !important;
	border-bottom: 1px solid var(--border) !important;
}

.widget-menu>li ul li:first-child a:hover {
	border-bottom: 1px solid var(--border) !important;
}

.widget-menu>li ul li:last-child a:hover {
	border-top: 1px solid var(--border) !important;
}

.widget-menu{
	border: 1px solid var(--border) !important;
}

.widget-menu .label {
	-webkit-box-shadow: 0 0 2px var(--shadow-heavy) inset !important;
	box-shadow: 0 0 2px var(--shadow-heavy) inset !important;
}

.widget-usage {
	-webkit-box-shadow: 0 1px 1px var(--shadow-light) !important;
	box-shadow: 0 1px 1px var(--shadow-light) !important;
}

.control-group+.control-group {
	border-top: 1px solid var(--background-dark) !important;
}

.module-head {
    color: var(--color) !important;
    background-color: var(--background-dark) !important;
}

.table th, .table td {
    border-color: var(--border) !important;
}

.table-bordered {
    border-top: 1px solid var(--border) !important;
	border-bottom: 1px solid var(--border) !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 1px solid var(--border) !important;
}

.module{
	border-color: var(--border) !important;
	-webkit-box-shadow: 0 0 1px var(--shadow) !important;
	box-shadow: 0 0 1px var(--shadow) !important;
}

strong, b {
    color: var(--color) !important;
}

.footer {
    color: var(--color-light) !important;
}

.datatable-pagination>a.paginate_disabled_previous, .datatable-pagination>a.paginate_disabled_next {
	color: var(--color) !important;
}

.datatable-pagination>a {
	color: var(--color) !important;
	background-color: var(--background) !important;
}

.dataTables_wrapper table th {
	background-color: var(--background) !important;
}


.dataTables_wrapper table th.sorting_asc, .dataTables_wrapper table th.sorting_desc {
	-webkit-box-shadow: 0px 0px 10px 2px var(--shadow) inset !important;
	box-shadow: 0px 0px 10px 2px var(--shadow) inset !important;
}

.dataTables_wrapper table tr:hover th {
	background: var(--background-dark) !important;
}

.datatable-pagination>a:hover {
	-webkit-box-shadow: 0px 0px 10px 2px var(--shadow) inset !important;
	box-shadow: 0px 0px 10px 2px var(--shadow) inset !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	color: var(--color) !important;
}

.shaded {
	color: var(--shadow) !important;
}

.pie #hover span {
	background: var(--color-light) !important;
}

.ui-slider-horizontal {
	-webkit-box-shadow: 0 0 2px var(--shadow-light) inset !important;
	box-shadow: 0 0 2px var(--shadow-light) inset !important;
}

.module-foot {
    background: var(--background-dark) !important;
	border-color: var(--border) !important;
}

.red-dot::before{
	border-color: var(--color);
}