#messages{
    width: 100%;

}

.message-container{
    display: flow-root;
    margin-bottom: 10px;
}

.module-message{
    max-width: 500px;
    margin-bottom: 0px !important;
    background-color: var(--background-dark);
}

.chat-container{
    height: 500px;
    overflow: auto;
}


.message-text{
    margin-bottom: 5px;
}

.message-name{
    font-weight: 500;
    margin-bottom: 5px;
    color: #005580;
}

.message-date{
    font-size: 12px;
}

.from-previous>.module-message>.module-body>.message-name{
    display: none;
}