:root{
	--color: #383d41;
	--color-light: rgba(56, 61, 65, 0.8);
	--placeholder: rgba(56, 61, 65, 0.5);
	--shadow-heavy: rgba(56, 61, 65, 0.4);
	--shadow: rgba(56, 61, 65, 0.2);
	--shadow-light: rgba(56, 61, 65, 0.1);
	--border: #d6d8db;
	--background: #f7f7f8;
	--background-dark: #f2f2f3;
	--divider: #e4e5e7;
	--widget-hover: #2c3033;
	--module-body: #ffffff;

}
