select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, label, button, select, textarea {
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.wrapper{
    padding: 30px 0;
    min-height: calc(100vh - 129px);
    background: var(--border);
	background: linear-gradient(315deg, var(--border) 0%, var(--background) 100%);

}

.container{
    width: 100%;
    max-width: 1840px;
    min-width: 1160px;
    padding:0 40px;
    margin: auto;
    display: flow-root;
}

.navbar{
    position: static;
    margin: 0;
    display: flow-root;
    font-weight: normal;
}

.navbar .brand {
    color: #333;
    margin-right: 20px;
    padding: 20px 20px 20px 0;
    float: left;
    display: block;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold !important;
}

.footer {
	color: #999;
	padding: 25px 0 25px;
    font-weight: 400;
}
.footer .nav li {
	float: left
}
.footer .nav li+li {
	margin-left: 30px
}
.footer .nav li a {
	color: inherit
}
.footer .nav li a:hover {
	color: #555
}

.right{
    float: right;
}

.left{
    float: left;
}

.content{
    width: 100%
}

.row-sm{
    width: 100%;
    max-width: 280px;
    margin: 0;
}

.row-bg{
    margin-left: 50px;
    width: calc(100% - 330px);
}

.hide{
    display: none;
}

.block{
    display: block;
}

.edit-fa{
    line-height: 25px;
}
