label {
    cursor: pointer;
}

.RTable__sort_none i {
    color: var(--rir-memento);
}

.RTable__sort_asc .rir-arrow-up_6 {
    color: var(--rir-rocky);
}

.RTable__sort_asc .rir-arrow-down_6 {
    color: var(--rir-memento);
}

.RTable__sort_desc .rir-arrow-up_6 {
    color: var(--rir-memento);
}

.RTable__sort_desc .rir-arrow-down_6 {
    color: var(--rir-rocky);
}


.pie__block{
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.pie {
    --p: 20;
    --b: 8px;
    --color: var(--rir-rocky);
    --w: 70px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    position: absolute;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--rir-trainspotting);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.pie_chart__text{
    position: relative;
    padding-left: 16px;
}

.pie_chart__text::before{
    content: "";
    height: 8px;
    width: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
}

.pie_chart__text_new::before{
    background-color: var(--rir-rocky);
}

.pie_chart__text_end::before{
    background-color: var(--rir-matrix);
}

.pie_chart__text_overdue::before{
    background-color: var(--rir-fargo);
}

.pie_chart__text_escalation::before{
    background-color: var(--rir-lebowski);
}

.RNotification__list{
    right: -400px;
    -webkit-animation: move_notificarion 5s ease-in-out;
    animation: move_notificarion 5s ease-in-out;
}

@-webkit-keyframes move_notificarion {
    0,
    5% {
        right: -400px;
    }
    15%,
    85% {
        right: 24px;
    }
    95%,
    100% {
        right: -400px;
    }
}

@keyframes move_notificarion {
    0,
    5% {
        right: -400px;
    }
    15%,
    85% {
        right: 24px;
    }
    95%,
    100% {
        right: -400px;
    }
}

.RPopover__content {
    display: none;
    position: absolute;
    width: 100%;
}

.RSelect{
    position: relative;
}

.RSelect input {
    pointer-events: none;
}

.blackjack{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackjack .field {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.card {
    height: 80px;
    padding: 4px;
    width: 56px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 var(--rir-hamilton);
}

.card:not(:first-child) { 
    margin-left: -36px;
}

.card .frame{
    background: var(--rir-white);
    height: 100%;
    border-radius: 4px;
    padding: 4px;
}

.card .suit {
    font-size: 32px;
}