.dialog{
    padding-top: 50px;
}

.page-error{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.number-error{
    font-size: 130px;
    padding: 0 50px;
}

.number-error>span{
    color: #0088cc;
}

.text-error{
    height: fit-content;
}

.text-error>h1{
    margin-bottom: 15px;
}