.dialog{
    padding-top: 50px;
}

.page_error{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number_error{
    font-size: 130px;
    padding: 0 50px;
}

.number_error>span{
    color: #0088cc;
}

.text_error{
    height: fit-content;
}

.text_error>h1{
    margin-bottom: 15px;
}