body{
    color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    font-weight: 500;
}

a{
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    color: #005580;
}


.control-label {
    font-weight: 400;
}

.text {
    color: var(--color) !important;
    font-weight: 500;
    text-align: left !important;
}

.text-message{
    color: var(--color) !important;
    font-weight: 500;
}

.file-size {
    font-style: italic;
    font-size: 12px;
}

.module-head>span {
    font-size: 12px;
    font-style: italic;
}

.text-alert{
    color: #cc1a2c !important;
}